.btn {
	// global button rule

	border: none;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 500;
	color: $black;
	padding: .5rem 1.6rem;
	position: relative;
	background: transparent;

	&:hover {
		background: $primary-color;
		border-color: $primary-color;
		color: $white;

		&.btn--rightBorder:after {
			background: $primary-color;
		}

		&.btn--leftBorder:before {
			background: $primary-color;
		}
	}
}